@import "./mixin.scss";

#Six{
  @include flex(center, center, column);
}

#esc{
  @include boxstyle(3vw,3vw,#333);
}

#container{
  width: 80vw;
  height: 30vh;
  @include flex(center, center, column);
  border: 1px solid green;
  letter-spacing: 0.1rem;
  text-align: center;
  background-color: #333;
  > p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
}

#container p span.typed-text{
  font-weight: normal;
  color: #dd7732;
}

#container p span.cursor{
  display: inline;
  vertical-align: middle;
  border-right: .05em solid #ccc;
  animation: blink-caret 0.7s infinite;
}

#container p span.cursor .typing{
  animation: blink-caret 1s infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ccc }
}

#else{
  border: 1px solid red;
}