@import "./mixin.scss";

.upButBox{
  @include boxstyle(100vw, 10vh,none);
  @include flex(center, center, row);
  >div{
    @include boxstyle(3vw, 3vw,none);
    margin: 2vw;
    margin-top: 3vw;
  }
  >div:nth-child(2){
    margin-right: 78vw;
  }
}

#Google, #Github{
  border: 1px solid #333;
  border-radius: 2vw;
}

#popUp{
  @include boxstyle(100vw, 90vh, rgb(233, 233, 233));
  box-shadow: #333;
  position: absolute;
  >div:nth-child(2){
    // border: 1px solid green;
    @include flex(space-around,center,row);
    // justify-content: space-around;
  }
}

#LB{
  width: 1.5vw;
  height: 1.5vw;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  transform: rotate(225deg);
}

#RB{
  width: 1.5vw;
  height: 1.5vw;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  transform: rotate(45deg);
}

.esc{
  margin-left: 90vw;
  margin-bottom: 3vh;
  display: inline-block;
  width: 3vw;
  height: 3vw;
}
.esc:after,.esc:before{
margin-left: 1.5vw;
position: absolute;
content:' ';
height: 2.5vw;
width: 3px;
background-color: #333;
}

.esc:after{
  transform: rotate(-45deg);
}
.esc:before{
  transform: rotate(45deg);
}

#downBox{
  @include boxstyle(100vw, 90vh, none);
  @include flex(center, center, row);
  // border: 1px solid green;
  >div:nth-child(1){
    @include boxstyle(40vw,80vh, #d4d4d4);
  }
  >div:nth-child(2){
    margin-left: 1vw;
    @include boxstyle(50vw,80vh, #d4d4d4);
    >div:nth-child(1){
      @include boxstyle(50vw,30vh, none);
    }
    >div:nth-child(2){
      @include boxstyle(50vw,7vh, none);
      @include flex(center,center,row);
      >div{
        @include boxstyle(8vw, 4vh, #333);
        margin: 2vw;
      }
    }
    >div:nth-child(3){
      @include boxstyle(50vw,43vh, none);
      // border: 1px solid red;
    }
  }
}