@import "./mixin.scss";

html {
  box-sizing: border-box;
  background-size: cover;
}

.slider{
  @include flex(center, flex-end, row);
  min-height: 100vh;
}

.items{
  align-items: flex-end;
  overflow: hidden;
  flex-wrap: wrap;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  background: rgba(255,255,255,0.1);
}

.items.active {
  background: rgba(255,255,255,0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

.item {
  width: 18vw;
  height: 55vh;
  position:relative;
  margin: 1vw;
  margin-top: 45vh;
}

.inline{
  width: 16vw;
  height: 50vh;
  border: 2px solid #fff;
}

.item:nth-child(4n+1) {
  background: tomato;
  @include flex (center,center,row);
  >div{
    >div{
      margin: 1vw;
      width: 14vw;
      color: #fff;
    }
    >div:nth-child(1){
    font-size: 160%;
  }
  >div:nth-child(2){
    font-size: 300%;
  }
  }
}

.item:nth-child(4n+2) { 
  background: darkslateblue;
  @include flex (center,center,row);
  >div{
    >div{
      margin: 1vw;
      width: 14vw;
      color: #fff;
    }
    >div:nth-child(1){
    font-size: 160%;
  }
  >div:nth-child(2){
    font-size: 300%;
  }
  }
}
.item:nth-child(4n+3) { 
  background: cadetblue;
  @include flex (center,center,row);
  >div{
    >div{
      margin: 1vw;
      width: 14vw;
      color: #fff;

    }
    >div:nth-child(1){
    font-size: 160%;
  }
  >div:nth-child(2){
    font-size: 300%;
  }
  }
}
.item:nth-child(4n+4) { 
  background:sandybrown;
  @include flex (center,center,row);
  >div{
    >div{
      margin: 1vw;
      width: 14vw;
      color: #fff;

    }
    >div:nth-child(1){
    font-size: 160%;
  }
  >div:nth-child(2){
    font-size: 300%;
  }
  }
}